* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 2px solid #3e77aa;
  }
}

html,
body{
  min-width: 320px;
  min-height: 100%;
  background-color: #fff;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

.main-wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e9e9e9;
}

.header{
  padding: 16px 0;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
  margin-bottom: 24px;
}
.title{
  margin-bottom: 40px;
  font-size: 36px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info {
  display: flex;
  align-items: center;
}
.header-tell {
  color: #797878;
  a{
    color: #000;
    &:hover{
      text-decoration: underline;
    }
  }
}
.header-btn {
  color: #3e77aa;
  margin-left: 16px;
  transition: color 0.5s ease;
  &:hover{
    color: #f84147;
  }
}

.header-logo{
  height: 32px;
  width: 192px;
}



.error{
  color: red;
  font-size: 12px;
  
}

.invisible{
  display: none;
}

.eror-blur{
  border-color: #f84147;
  background: url('../img/eror.svg') right 12px center no-repeat #fff;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border .2s ease-in-out;
}

#rozetka{
  padding-right: 48px;
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.aside{
  position: sticky;
  top: 20px;
  width: 320px;
  flex-shrink: 0;
}
.promo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-promo {
  margin-top: 16px;
  display: none;
  &__btn {
    width: 100%;
    border: 0;
    margin-top: 16px;
    background-color: #3e77aa;
    color: #fff;
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.3s ease;
    &:hover{
      background: #31a3db;
    }
  }
}

.checkout-promo__active{
  display: block;
}

.promo-wrapper{
  margin-bottom: 8px;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
}

.promo-text {
  font-size: 16px;
  color: #221f1f;
}
.promo-add {
  border: 0;
  color: #3e77aa;
  transition: all 0.3s;
  cursor: pointer;
  &:hover{
    color: #f84147;
  }
}

.total{
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
}

.total-title{
  margin-bottom: 16px;
  color: #221f1f;
  font-size: 28px;
}

.total-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.promo-text {
  margin-right: 15px;
  font-size: 14px;
  color: #797878;
}
.promo-price {
  font-size: 14px;
  color: #221f1f;
}

.row-final-price{
  padding: 16px 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.promo-final-price{
  font-size: 24px;
}

.total-btn{
  border: none;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
  height: 48px;
  border-radius: 4px;
  background-color: #00a046;
  color: #fff;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #0bc85d;
  }
}


.inputs-row{
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.input-wrapper{
  flex: 1;
  &:nth-child(odd){
    margin-right: 16px;
  }
}

.legent{
  margin-bottom: 24px;
  font-size: 16px;
  position: relative;
}

.legent-number{
  position: absolute;
  content: '';
  left: -40px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #e9e9e9;
  font-size: 14px;
  line-height: 24px;
}
.label{
  color: #797878;
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}

.order-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.orser-title {
  font-size: 28px;
}
.order-price {
  font-size: 16px;
}

.poduct-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.poduct-legend{
  font-size: 16px;
  position: relative;
}

.btn {
  transition: all 0.3s;
  color: #3e77aa;
  &:hover{
    color: #f84147;
  }
}

.detail{
  legend{
    margin-bottom: 0;
  }
  border-bottom: 1px solid #e9e9e9;
}

.poduct-main-list {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.poduct-main-coll {
  width: 40%;
  position: relative;
}

.poduct-list {
  display: flex;
  align-items: center;
}

.poduct-img {
  margin-right: 16px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  img{
    height: auto;
    width: 100%;
  }
}

.poduct-title {
  z-index: 2;
  a {
    font-size: 12px;
    color: #3e77aa;
    &:hover{
      color: #f84147;
      text-decoration: underline;
    }
  }
}

.poduct-coll {
  max-width: 60%;
  width: 100%;
  text-align: center;
}

.poduct-info-list {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.product-coll {
  width: 33%;
}

.poduct-info-title {
  margin-bottom: 4px;
  font-size: 10px;
}

.poduct-info-text {
  font-size: 14px;
}

.link-product1{
  display: inline-block;
}

.product-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delivery-btn {
  align-items: center;
  display: flex;
  border: 0;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 16px 12px 16px;
  cursor: pointer;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  background-color: hsla(0,0%,100%,.9);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  &:hover{
    background-color: #e9e9e9;
  }
}
.delivery-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.location-picture {
  height: 30px;
  width: 30px;
}
.delivery-city-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 16px;
}
.delivery-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #797878;
}
.delivery-city {
  color: #221f1f;
  font-size: 14px;
}
.delivery-region {
}
.arrow-picture {
  height: 16px;
  width: 16px;
}
input[type=checkbox], input[type=radio]{
  height: 0;
  position: absolute;
  &:focus{
    outline: none;
  }
}

.type-delivery-list {
}
.delivery-type {
  margin-bottom: 16px;
		&__wrapper {

		}
}
.label-input-radio {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-top: 8px;
  position: relative;
  width: 100%;
  &::before{
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #fff;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 6px;
    transition: border .2s ease-in-out,background-color .2s ease-in-out;
    width: 24px;
  }
  &:hover{
    &::before{
      border: 1px solid #221f1f;
    }
  }
  }
.label-radio-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.variant-title {
}
.variant-price {
  color: #00a046;
}
input[type=radio]:checked+label:before {
  background-color: #00a046;
}

.variant-inner{
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
}
///Будем вішати
.checkout-variant__inner{
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #00a046;
}

.checkout-variant__content{
  padding-top: 16px;
  padding-left: 40px;
  display: none;
}
.checkout-variant__content__active{
  display: block;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.form-coll {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.label {
}
.row{
  flex-direction: row;
  margin-left: 16px;
}
.form-delivery-wrapper{
  margin-left: 16px;
  width: 100%;
  &:first-child{
    margin-left: 0;
  }
}

#inputElevator{
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////
input[type=checkbox]+label:before{
  content: "";
  height: 24px;
  top: 5px;
  left: 0;
  width: 24px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  position: absolute;
  transition: background-color .2s ease-in-out,border .2s ease-in-out;
}
input[type=checkbox]:checked+label:before {
  background-color: #00a046;
  background-image: url('../img/arrow.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 14px 12px;
  border-color: #00a046;
}

.label-input-checkbox{
  position: relative;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-top: 8px;
  &:hover{
    &::before{
      border: 1px solid #221f1f;
    }
  }
}
///////////////////////////////////////////////

.select-css{
  height: 40px;
  background-color: #fff;
  appearance: none;
  background: url('../img/select-arrow.svg');
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 14px 9px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  color: #221f1f;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 40px;
  width: 100%;
}

.form-text{
  border-top: 1px solid #e9e9e9;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #797878;
  font-size: 12px;
}


.delivery-interval {
  display: flex;
  align-items: center;
  text-align: center;
  &__coll {
    margin-left: 16px;
    flex: 0 1 20%;
    &:first-child{
      margin-left: 0;
    }
  }

  &__day {
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }

  &__wrapper {
  }

  &__time {
    display: inline-block;
    padding: 5px 8px 3px;
    font-size: 12px;
    color: #3e77aa;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}
.input-radio-day {
}

input[type=radio]:checked + .delivery-interval__time{
  border-color: #00a046;
  color: #221f1f;
}

.delivery-interval__time{
  &:hover{
    color: #f84147;
  }
}

input[type=checkbox]:disabled+label:before {
  background-color: #f5f5f5;
  border-color: #e9e9e9;
}
input[type=checkbox]:disabled+label {
  color: #a6a5a5;
}

.select {
  position: relative;
  margin-bottom: 16px;
  &__btn {
    width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background-color: #fff;
  background-image: url('../img/select-arrow.svg');
  background-size: 14px 9px;
  background-repeat: no-repeat;
  background-position: right 12px center;
  font-size: 14px;
  line-height: 36px;
  color: #221f1f;
  cursor: pointer;
  text-align: start;
  &:focus{
    outline: none;
  }
  }

  &__wrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(#221f1f,.25);
    left: 0;
    margin-top: 4px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 15;
    display: none;
  }

  &__wrapper--active{
    display: block;
  }

  &__list {
    max-height: 210px;
    overflow: auto;
  }

  &__item {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    &:hover{
      background: #f4faf6;
    }
  }

  &__item2 {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    &:hover{
      background: #f4faf6;
    }
  }

  &__item-text {
  }
}

#inputSearch{
  margin-bottom: 4px;
  &:focus{
    outline: none;
    border-bottom: 2px solid #3e77aa;
  }
}

.none {
  display: none;
}


.work-schedule {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}
.days {
  width: 50%;
  margin-bottom: 4px;
}
.time {
  width: 50%;
  margin-bottom: 4px;
}
.map-btn {
  flex: 1;
  display: block;
  border: none;
  height: auto;
  width: 100%;
  background: none;
  cursor: pointer;
}
.bg-map {
  display: block;
  height: 100px;
  width: 100%;
  background: url('https://rozetka.com.ua/assets/img/checkout/delivery-google-map.svg') no-repeat;
  background-size: cover;
}

.meest{
  margin-bottom: 0;
}

.warning{
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(255,169,0,.1);
  border-color: #ffa900;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  &__text{
    margin-right: 16px;
  }
}






.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 15px;

  background: rgba(132, 39, 117, 0.637);

  z-index: 11;

  display: none;
  align-items: center;
  justify-content: center;

  
  &__window {
    position: relative;

    padding: 20px;

    height: 100%;
    width: 100%;
    max-width: 700px;
    max-height: 450px;

    background: #f1c3e7;
    border-radius: 20px;
  }

  &__close-bth {
    position: absolute;

    right: -5px;
    top: -5px;

    height: 32px;
    width: 32px;

    background: url('../img/header/circular-button_icon.svg') no-repeat;
    background-size: cover;

    border: 0;
    cursor: pointer;
    
  }
}
.popup-active{
  display: flex;
}
